@model string
@{
    ViewBag.Title = "Chat";
}

<div id="chat-container">
    <div id="chat-messages">
        <div id="chatArea" class="chat-area"></div>
    </div>
    <input type="hidden" id="namecolor" value="@ViewBag.NameColor">
    <input type="hidden" id="username" value="@ViewBag.UserName">
    <div id="inputs">
        <input type="text" id="message-input" placeholder="Digite sua mensagem..." />
        <button id="send-button">Enviar</button>
    </div>
</div>