@{
    ViewBag.Title = "Chat";
}

<div id="chat-container">
    <div>
        <a asp-action="Logout" asp-controller="Chat" class="btn btn-danger">Deslogar</a>
    </div>

    <div id="chat-messages">
        <div id="chatArea" class="chat-area"></div>
    </div>

    <form id="inputs">
        <input type="text" id="message-input" placeholder="Digite sua mensagem..." />
        <input type="hidden" id="userId" value="@ViewBag.UserId" />
        <button id="send-button">Enviar</button>
    </form>

    <button style="display: none;" id="new-messages" class="btn">Novas mensagens</button>
</div>