@model mvc.Models.UserModel
@{
    ViewBag.Title = "Chat";
}

<div id="chat-container">
    <div id="header">
        <h4 class="title">CHAT GERAL</h4>

        <div>
            <a asp-action="Edit" asp-controller="Chat" class="btn btn-info">Editar</a>
            <a asp-action="Logout" asp-controller="Chat" class="btn btn-danger">sair</a>
        </div>
    </div>

    <div id="chat-messages">
        <div id="chatArea" class="chat-area"></div>
    </div>

    <form id="inputs">
        <input autofocus type="text" id="message-input" placeholder="Digite sua mensagem..." />
        <input type="hidden" id="userId" value="@Model.Id" />
        <button id="send-button">Enviar</button>
    </form>

    <button style="display: none;" id="new-messages" class="btn">Novas mensagens</button>
</div>