@model mvc.Dtos.CreateUserDto
@{
    ViewBag.Title = "Registrar";
}

<div class="form-container">
    <h2 class="mb-3">Registrar-se</h2>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }

    <form asp-action="Index" asp-controller="Register" method="post">
        <div class="form-group">
            <input asp-for="@Model.UserName" class="form-control mb-3" placeholder="Nome de usuário" required>
        </div>

        <div class="form-group">
            <input asp-for="@Model.Password" class="form-control mb-3" placeholder="Senha" type="password" required>
        </div>

        <div class="form-group">
            <input asp-for="@Model.ConfirmPassword" class="form-control mb-3" placeholder="Confirme a senha"
                type="password" required>
        </div>

        <button type="submit" class="form-button">Registrar</button>
    </form>

    <p class="mt-3">
        Já possui uma conta?
        <a asp-action="Index" asp-controller="Login" class="btn-link">Faça o login aqui!</a>
    </p>
</div>