@model mvc.Dtos.LoginDto
@{
    ViewBag.Title = "Login";
}

<div class="form-container">
    <h2 class="mb-3">Fazer login</h2>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }

    <form asp-action="Index" asp-controller="Login" method="post">
        <div class="form-group">
            <input asp-for="@Model.UserName" class="form-control mb-3" placeholder="Nome de usuário" required>
        </div>

        <div class="form-group">
            <input asp-for="@Model.Password" class="form-control mb-3" placeholder="Senha" type="password" required>
        </div>

        <button type="submit" class="form-button">Entrar</button>
    </form>

    <p class="mt-3">
        Ainda não possui uma conta?
        <a asp-action="Index" asp-controller="Register" class="btn-link">Se registre aqui!</a>
    </p>
</div>