body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #c0c0c0;
}

#chatArea {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #268ccc;
  border-bottom: #c0c0c0 1px solid;
}

.title {
  color: #fff;
  margin-bottom: 0;
  font-weight: bold;
}

#chat-container {
  position: relative;

  height: 98vh;
  background-color: #e2e2e2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;

  width: 70%;
  margin: 1vh auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#chat-messages {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

#chat-messages::-webkit-scrollbar {
  width: 10px;
}

#chat-messages::-webkit-scrollbar-thumb {
  background-color: #c1c9c6;
}

#chat-messages::-webkit-scrollbar-track {
  background-color: #e2e2e2;
}

#new-messages {
  position: absolute;
  width: calc(100% - 10px);
  bottom: 45px;
  left: 0;
  font-size: 14px;
  padding: 2px;
  border-radius: 0;
  background: #268ccc8e;
  color: #fff;
}

#inputs {
  display: flex;
}

#message-input {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-top: 1px solid #ddd;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

#send-button {
  width: 100%;
  padding: 10px 20px;
  background-color: #268ccc;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  width: auto;
}

.sep {
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-color: #b6d2e4;
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin: 15px 90px 0 0;
}

.same {
  margin: 5px 0 0 0;
}

.own {
  background-color: #ced4d2;
  align-self: end;
  margin: 5px 0 0 90px;
}

.avatar {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  margin-bottom: -2px;
}

.message {
  margin-bottom: 0;
}

.no-user-info .avatar,
.no-user-info .name {
  display: none;
}

.form-container {
  margin: 100px auto;
  background-color: #e2e2e2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;

  width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 15px;
}

.form-button {
  width: calc(100% - 20px);
  padding: 10px 20px;
  background-color: #268ccc;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;

  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

#edit-container {
  background-color: #e2e2e2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;

  width: 70%;
  margin: 1vh auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#edit-form {
  padding: 15px;
}

#avatar-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}